.left-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: indianred;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    h2 {
        font-size: 1.8em;
        text-transform: uppercase;
        font-weight: 500;
        margin-left: 20px;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-left: 20px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        margin-left: 20px;
        margin-right: 20px;
    }

    a{
        color: black;
        font-size: 24px;
        font-weight: 500;
       padding: 0 5px 0 5px;
    }

    a:hover{
        color: cadetblue;
    }
    
    #mail {
        text-transform: uppercase;
        cursor: pointer;
    }

    #mail:hover {
      color: cadetblue;
    }
}


.button-left-area{
    margin-top: 30px;
    margin-left: 20px;  
}

// .photo-container{
//     height: 25vmin;
//     border-radius: 50%;
//     margin-top:40px;
//     margin-left: 40px;
// }

