.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
  border: 2px solid black;
  margin-bottom: 20px;

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color:forestgreen;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-left: 20px;
    letter-spacing: .25em;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .options {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
    .option {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 1em;
      margin-left: 20px;
      letter-spacing: .25em;
      line-height: 1.5;
      text-transform: uppercase;

      padding-left: 10px;
      padding-right: 10px;
    }
  }
}