.home-page {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  // min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
background-color:#1e88e5;

h2{
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 20px;
  padding-top: 20px;
  letter-spacing: .25em;
  line-height: 1.65;
  font-family: 'Roboto';
}
h3{
  font-size: 1em;
  font-weight: 500;
  margin-left: 20px;
  letter-spacing: .25em;
  line-height: 1.5;
  font-family: 'Roboto';
  // color: #3c3b3b;
  //   font-family: "Raleway",Helvetica,sans-serif;
}

p{
  font-size: 1em;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  font-family: 'Roboto';
}
a{
  color:#FFBA60;
}

  }

  @media screen and (max-width: 600px) {
    .home-page  {
      margin: 0
    }
  }

  @media screen and (max-width: 1279px) {
    .home-page  {
    
     margin-left: '20px';
     margin-top: '20px';
    }
  }